.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  visibility: hidden;
  /* transition: visibility 0.6s, opacity 0.6s; */
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  /* transition: visibility 0s, opacity 0.6s; */
}

.modal__heading {
  width: 330px;
  height: 23px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 54px;
  padding: 34px 36px 0 36px;
}

/* .modal_form-input-container {
  position: relative;
  margin-bottom: 15px; /* Ensure consistent margin */
/* } */

.modal__form {
  /*display: flex;
  flex-direction: column;*/
  display: grid;
  /* grid-gap: 5px; */
  /* margin-bottom: 48px; */
  padding: 0 36px 36px;
}

.modal__form-input {
  height: 27.26px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  padding: 8px;
  /* margin-bottom: 20px; */
  display: block;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: black;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  width: 358px;
  height: 14px;
}

.preview_image_modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  display: flex;
}

/* .input-container {
  position: relative;
  margin-bottom: 30px;
} */

.modal__container {
  /*padding: 36px;*/
  background-color: white;
  margin: auto;
  border-radius: 10px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
}

.modal__container_delete {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 182px;
}

.modal_container_preview {
  border-radius: 8px;
  margin: auto;
}

.modal__button {
  background-image: url("../images/Rectangle.svg");
  color: white;
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 0;
  margin-top: 18px;
}

.modal__button:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.modal__button_disabled {
  opacity: 0.2;
  cursor: default;
}

.modal__button_disabled:hover {
  opacity: 0.2;
}

/* .modal__button:hover:not(:disabled) {
  opacity: 0.8;
} */

.modal__button-text {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.modal__close {
  background-image: url("../images/CloseIcon.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.preview-close-button {
  position: relative;
  top: -10px;
}

.modal__image {
  display: flex;
  margin: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.preview_modal_description {
  width: 291px;
  height: 12px;
  top: 640px;
  left: 424px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: white;
}

.modal__close:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 480px) {
  .modal {
    right: -1px;
    left: -6px;
  }

  .modal__container {
    max-width: 95%;
    height: 322px;
    padding: 10px;
  }

  /* .input-container {
    position: relative;
    margin-bottom: 30px;
  } */

  .modal__close {
    width: 26px;
    height: 26px;
    /* bottom: calc(100% + 2px);*/
    left: calc(100% + -26px);
    top: -40px;
  }

  .modal__heading {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    width: 238px;
    height: 22px;
    padding: 25px 22px 0 22px;
    margin-bottom: 76px;
  }

  .modal__button {
    width: 100%;
    height: 46px;
    border-radius: 2px;
    padding: 0;
    margin-top: 16px;
  }

  .modal__button-text {
    width: 38px;
    height: 18px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
    margin: auto;
  }

  .modal__form {
    /* max-width: 238px; */
    /* height: 26px; */
    padding: 0 12px 15px;
    margin: 0;
    /* grid-gap: 30px; */
  }

  .modal__form-input {
    max-width: 100%;
    height: 26px;
    /* margin-bottom: 30px; */
    gap: 0;
  }

  .modal__form-error {
    color: red;
    max-width: 258px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    /* line-height: 14.52px; */
    text-align: left;
    display: block;
    margin-top: 5px;
    margin-bottom: 13px;

    /* position: absolute; */
    padding-right: 10px;
  }

  /* .modal__form-input_type_title {
    max-width: 238px;
    height: 26px;
  } */
}

/* .label__container {
} */

.modal__form-error {
  color: red;
  max-width: 358px;
  height: 16px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  display: block;
  margin-top: 5px;
  margin-bottom: 13px;

  /* position: absolute; */
}

.modal__input_type_error {
  border-color: red;
}

.modal__error_visible {
  visibility: visible;
}

/* #profile-description-input {
  margin-top: 8px;
} */

/* #profile-description-input-error {
  margin-bottom: 31px;
  border-bottom: red; 
 } */
